Dockerfile

**/*.pyc
**/__pycache__/
**/.vscode/**
**/.vscode/
**/.mypy_cache/**
**/.mypy_cache/

**/node_modules
**/.pnp
**/.pnp.js

# testing
/frontend/coverage

/backend/db/
/backend/db/**
/frontend/build/
/frontend/build/**
/frontend/node_modules/
/backend/modules/cppqueue
/backend/modules/proxy
docker-compose.yml

# misc
**/.DS_Store
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local

**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*

