fastapi[all]
httpx
uvicorn[standard]
passlib[bcrypt]
bcrypt <5
psutil
python-jose[cryptography]
python-socketio
git+https://github.com/google/brotli.git@35d4992ac8eb1eca3b6c5f220e76cfc8b7e470aa
#git+https://salsa.debian.org/pkg-netfilter-team/pkg-nftables#egg=nftables&subdirectory=py
