fastapi[all]
httpx
uvicorn[standard]
passlib[bcrypt]
psutil
python-jose[cryptography]
fastapi-socketio
#git+https://salsa.debian.org/pkg-netfilter-team/pkg-nftables#egg=nftables&subdirectory=py
