
@use "../../../index.scss" as *;

.row{
    width: 95%;
    padding: 15px 0px;
    border-radius: 20px;
    margin: 10px;
    @extend .center-flex;
}

.row-mobile{
    @extend .row;
    @extend .center-flex-row;
}

.name{
    font-size: 2.3em;
    font-weight: bolder;
    margin-right: 10px;
    margin-bottom: 13px;
    color:#FFF;
}

.portInput *{
    color: #FFF;
    font-weight: bold;
    font-size: 1em;
    margin-top: -1px;
    text-decoration: underline;
}