
@use "../../vars" as *;
@use "../../index.scss" as *;

.header{
    width: 100%;
    background-color: $primary_color;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divlogo{
    width: 110px;
    height: 100%;
    cursor: pointer;
    @extend .center-flex;
}

.navbtn{
    @extend .center-flex;
    width: 30px;
    margin:0;
}