
@use "../../vars" as *;

.box{
    padding:30px;
    margin:5px;
}

.outer_regex_text{
    border-radius: 8px;
    overflow: hidden;
    margin: 6px;
}

.regex_text{
    padding: 10px;
    background-color: $third_color;
    overflow-x: hidden;
    border-radius: 8px;
}

.regex_text:hover{
    overflow-x: auto;
    opacity: 0.8;
}